#Работа с СУБД SQLite

In [1]:
import sqlite3 as sl

db=sl.connect('GAI.db')

In [43]:
crs=db.cursor()
crs.execute("""CREATE TABLE auto (id integer PRIMARY KEY, mark text, plate text, fio text, 
            year_of_issue integer, capacity integer)""")
sql_insert="""INSERT INTO auto VALUES (1, 'BMW', 'X809АВ', 'Иванов H.P.', 2010, 1400),
                                      (2, 'Audi', 'М432АР', 'Антонов И.В.', 2005, 2100),
                                      (3, 'Ford', 'Т889НН', 'Петров О.Д.', 2000, 1750),
                                      (4, 'Honda', 'В139ОВ', 'Денисов И.А.',2004, 1600),
                                      (5, 'KIA', 'Е961ЕО', 'Иванов М.А.',2015, 1520)
            """

try:
    crs.execute(sql_insert)
except sl.DatabaseError as err:
    print('Error: ', err)
else:
    db.commit()
    print('Зaпpoc успешно выполнен')

Зaпpoc успешно выполнен

In [44]:
crs.execute("""CREATE TABLE taxes (id integer PRIMARY KEY, tax_fio text, month text, 
            amount integer, FOREIGN KEY(tax_fio) REFERENCES auto(fio) )""")

sql_insert="""INSERT INTO taxes VALUES (1, 'Иванов H.P.', 'Сентябрь', 0),
                                       (2, 'Антонов И.В.', 'Февраль', 0),
                                       (3, 'Петров О.Д.', 'Август', 0),
                                       (4, 'Денисов И.А.','Июль', 0),
                                       (5, 'Иванов М.А.','Декабрь', 0)"""

try:
    crs.execute(sql_insert)
except sl.DatabaseError as err:
    print('Error: ', err)
else:
    db.commit()
    print('Зaпpoc успешно выполнен')

Зaпpoc успешно выполнен

In [45]:
crs.executescript("""Update taxes set amount = 3 
            from auto where taxes.tax_fio = 
            auto.fio and capacity <= 1500;
            Update taxes set amount = 5 
            from auto where taxes.tax_fio = 
            auto.fio and capacity > 1500
            and capacity < 1900;
            Update taxes set amount = 7 
            from auto where taxes.tax_fio = 
            auto.fio and capacity >= 1900;""")

crs.close()

In [46]:
crs=db.cursor()
print('\nПросмотр всех записей таблицы taxes')
for r in crs.execute('SELECT * FROM taxes ORDER BY id'):
  print(r)

Просмотр всех записей таблицы taxes
(1, 'Иванов H.P.', 'Сентябрь', 3)
(2, 'Антонов И.В.', 'Февраль', 7)
(3, 'Петров О.Д.', 'Август', 5)
(4, 'Денисов И.А.', 'Июль', 5)
(5, 'Иванов М.А.', 'Декабрь', 5)

In [56]:
print('\nПросмотр всех записей таблицы auto')
for r in crs.execute('SELECT * FROM auto ORDER BY id'):
  print(r)

Просмотр всех записей таблицы auto
(1, 'BMW', 'X809АВ', 'Иванов H.P.', 2010, 1400)
(2, 'Audi', 'М432АР', 'Антонов И.В.', 2005, 2100)
(3, 'Ford', 'Т889НН', 'Петров О.Д.', 2000, 1750)
(4, 'Honda', 'В139ОВ', 'Денисов И.А.', 2004, 1600)
(5, 'KIA', 'Е961ЕО', 'Иванов М.А.', 2015, 1520)

In [75]:
crs=db.cursor()
for r in crs.execute("""SELECT 
                            fio,
                            capacity,
                         CASE
                             WHEN 
                                 capacity <= 1500 THEN 3 * 12
                             WHEN 
                                 capacity > 1500 and capacity < 1900 THEN 5 * 12
                             ELSE 7 * 12
                          END
                        FROM auto 
                        ORDER BY id"""):
  print(r)
crs.close()

('Иванов H.P.', 1400, 36)
('Антонов И.В.', 2100, 84)
('Петров О.Д.', 1750, 60)
('Денисов И.А.', 1600, 60)
('Иванов М.А.', 1520, 60)