In [11]:
import sqlite3 as sl
import pandas as pd
db=sl.connect('GAI.db')

In [17]:
df_auto = pd.read_sql("""SELECT * FROM auto""", db)
df_taxes = pd.read_sql("""SELECT * FROM taxes""", db)

In [19]:
print(df_auto)

   id   mark   plate           fio  year_of_issue  capacity
0   1    BMW  X809АВ   Иванов H.P.           2010      1400
1   2   Audi  М432АР  Антонов И.В.           2005      2100
2   3   Ford  Т889НН   Петров О.Д.           2000      1750
3   4  Honda  В139ОВ  Денисов И.А.           2004      1600
4   5    KIA  Е961ЕО   Иванов М.А.           2015      1520

In [40]:
# df_auto[df_auto.capacity <= 1500].capacity 
df_auto['tax'] = df_auto['capacity'].apply(lambda x: 3 * 12 if x <=1500 else 5 * 12 if x < 1900 else 7 * 12)
df_auto[['fio', 'capacity', 'tax']]

            fio  capacity  tax
0   Иванов H.P.      1400   36
1  Антонов И.В.      2100   84
2   Петров О.Д.      1750   60
3  Денисов И.А.      1600   60
4   Иванов М.А.      1520   60