In [1]:
from peewee import *
db = SqliteDatabase('data.db')

In [2]:
class BaseModel(Model):
    class Meta:
        database = db
        
class R(BaseModel):
    r_id = PrimaryKeyField(column_name='R_id',null=False)
    r1 = FloatField(column_name='r1', null=False)
    r2 = FloatField(column_name='r2', null=False)
    r3 = FloatField(column_name='r3', null=False)
    r4 = FloatField(column_name='r4', null=False)
    r5 = FloatField(column_name='r5', null=False)
    r6 = FloatField(column_name='r6', null=False)
    r7 = FloatField(column_name='r7', null=False)
    r8 = FloatField(column_name='r8', null=False)
    r9 = FloatField(column_name='r9', null=False)

    class Meta:
        table_name = 'R'
        order_by = ('R_id')

In [3]:
class U(BaseModel):
    u_id = PrimaryKeyField(column_name='U_id',null=False)
    r_entry = ForeignKeyField(R, related_name='r_entry', to_field='r_id', on_delete='cascade', on_update='cascade')
    e1 = FloatField(column_name='e1', null=False)
    e2 = FloatField(column_name='e2', null=False)
    e3 = FloatField(column_name='e3', null=False)
    e4 = FloatField(column_name='e4', null=False)
    e5 = FloatField(column_name='e5', null=False)
    e6 = FloatField(column_name='e6', null=False)
    e7 = FloatField(column_name='e7', null=False)

    class Meta:
        table_name = 'U'
        order_by = ('U_id')

In [4]:
try:
    db.connect()
    R.create_table()
except peewee.InternalError as px:
    print(str(px))
try:
    U.create_table()
except peewee.InternalError as px:
    print(str(px))

In [8]:
def add_R(r_id, r1, r2, r3, r4, r5, r6, r7, r8, r9):
    r = R(
        r_id=r_id,
        r1=r1,
        r2=r2,
        r3=r3,
        r4=r4,
        r5=r5,
        r6=r6,
        r7=r7,
        r8=r8,
        r9=r9
    )
    r.save(force_insert=True)

In [13]:
def add_U(u_id, r_entry, e1, e2, e3, e4, e5, e6, e7):
    u = U(
        u_id=u_id,
        r_entry=r_entry,
        e1=e1,
        e2=e2,
        e3=e3,
        e4=e4,
        e5=e5,
        e6=e6,
        e7=e7
    )
    u.save(force_insert=True)

In [14]:
def select_R():
    return R.select()

def select_U():
    return U.select()

def select_Rid(r_id):
    return R.get(R.r_id == r_id)

def select_Uid(r_id):
    return U.get(U.r_entry == r_id)

In [9]:
add_R(1, 0.5, 0.75, 0.75, 0.5, 0.5, 0.5, 0.1, 0.2, 0.5)

In [15]:
add_U(1, 1, 0.5, 0.6, 0.9, 0.5, 0.3, 0.2, 0.8)

In [ ]:
Rs = select_R()
r_data = []
for entry in Rs:
    r_data.append({
        'ID':entry.r_id,
        'r1': entry.r1,
        'r2': entry.r2,
        'r3': entry.r3,
        'r4': entry.r4,
        'r5': entry.r5,
        'r6': entry.r6,
        'r7': entry.r7,
        'r8': entry.r8,
        'r9': entry.r9,
    })
print('\nВсе Записи: ') 
for i in r_data:
  print(i)

In [17]:
def compute_c(c1, c2):
    if c1*c2 >= 0:
        return c1+c2 - c1*c2
    return (c1 + c2)/(1 - min(c1, c2))

In [18]:
def get_c1(e1, e2, r4):
    return max(e1, e2)*r4


def get_c3(e3, e4, r6):
    return min(e3, e4)*r6

def get_c4(e5, e6, e7, r7, r8, r9):
    res = compute_c(-e5*r7, -e6*r8)
    res = compute_c(res, e7*r9)
    return res

def get_c2(c4, r5):
    return c4*r5

In [24]:
def compute(r_id):
    r = select_Rid(r_id)
    u = select_Uid(r_id)
    
    c1 = get_c1(u.e1, u.e2, r.r4)
    c3 = get_c3(u.e3, u.e4, r.r6)
    c4 = get_c4(u.e5, u.e6, u.e7, r.r7, r.r8, r.r9)
    
    c2 = get_c2(c4, r.r5)
    
    res = compute_c(c1*r.r1, c2*r.r2)
    res = compute_c(res, c3*r.r3)
    return res

In [27]:
n = 1

In [28]:
print(f'Рассчитанное значение: {compute(n)}')

Рассчитанное значение: 0.38886908373786405